body{
    margin: 0px;
    background-color: aquamarine;
}

.form{
    height: 300px;
    width: 350px;
    border: 2px solid rgb(17, 75, 62);
    margin: 8% auto;
    background-color: rgb(15, 109, 87);
}

.input{
    height: 30px;
    width: 250px;
    padding: 2px;
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: 13%;
    border: 0px;
    outline: none;
}

#submit{
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 39%;
    height: 30px;
    width: 80px;
    font-size: 20px;
    background-color: aquamarine;
    border: 0px;
    border-radius: 5px; 
    color: rgb(8, 57, 47);
}

#forgot{
    color: aquamarine;
    margin-left: 13%;
    text-decoration: none;
}

#forgot :hover{
    color: rgb(8, 57, 47);
}

#create{
    color: aquamarine;
    text-decoration: none;

}